@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext");
body {
  font-family: "Lato", sans-serif; }

.board .column-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  .board .column-container .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 5px; }
    .board .column-container .column .col-delete {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .board .column-container .column .column-title {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin-top: 0; }
    .board .column-container .column .add-card {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .board .column-container .column .column-card-list {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      min-height: 20vh; }
      .board .column-container .column .column-card-list .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
  .board .column-container button {
    color: white; }
    .board .column-container button:hover {
      color: inherit;
      background-color: white; }
.board button {
  background-color: transparent;
  border-radius: 10px;
  border: 2px;
  border-style: solid;
  font-weight: 700;
  font-style: italic;
  font-family: "Lato", sans-serif;
  color: #a1a1a1;
  cursor: pointer; }
  .board button:hover {
    color: white;
    background-color: #a1a1a1; }
.board .create-column {
  font-size: 20px;
  padding: 7px; }
.board h1 {
  font-weight: 900; }
