@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext");
body {
  font-family: "Lato", sans-serif; }

.board .column-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
  .board .column-container .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 10px;
    margin: 10px;
    border-radius: 5px; }
  .board .column-container button {
    color: white; }
    .board .column-container button:hover {
      color: inherit;
      background-color: white; }
.board button {
  background-color: transparent;
  border-radius: 10px;
  border: 2px;
  border-style: solid;
  font-weight: 700;
  font-style: italic;
  font-family: "Lato", sans-serif;
  color: #a1a1a1;
  cursor: pointer; }
  .board button:hover {
    color: white;
    background-color: #a1a1a1; }
.board .create-column {
  font-size: 20px;
  padding: 7px; }
.board h1 {
  font-weight: 900; }
